<section id="main-page">
    <header>
           
    </header>
    <article id="recipe">
        <h2>Banana bread</h2>
        <img src="{{image}}" alt="banana bread">
        <h3>Ingredients :</h3>
            {{#each ingredients}}
                <ul>
                <li>{{this}}</li>
                </ul>
                {{/each}}
                
                <p>
                Preheat your oven at 160°C. Mash the bananas with a fork and add the sugar. Put the spices, the almond powder, salt and the oil. Gently add the flour and the baking powder.</br>
                Grease and flour the baking dish, pour the mix in it and put it the oven 160°c. Leave it 40-50minutes in the oven, check with the tip of a knife.</br>

                Let it cool a little bit, then film it and leave it to rest. If you can wait until the next day to eat it, it will be even better</br>
                If you try this recipe, don't hesitate to send us your reviews at : <a href="mailto:bananagirl@banana.banana">mail</a></p>

    </article>
</section>