<body>
    <header>
            <h1>The cooking club</h1>
            <p>Two chefs, two recipes</p>
    </header>
    <article id="first-recipe">
        <h2>Banana bread</h2>
        <p>Ingredients :</br>
                <ul>
                <li>3 bananas</li>
                <li>100g of sugar</li>
                <li>15g of almond powder</li>
                <li>one pinch of salt</li>
                <li>2g of cinnamon</li>
                <li>3g of ginger</li>
                <li>1 teaspoon of vanilla</li>
                <li>60g of a neutral oil</li>
                <li>165g of flour</li>
                <li>5g of baking powder</li></ul>
               </p>
                
                <p>
                Preheat your oven at 160°C. Mash the bananas with a fork and add the sugar. Put the spices, the almond powder, salt and the oil. Gently add the flour and the baking powder.</br>
                Grease and flour the baking dish, pour the mix in it and put it the oven 160°c. Leave it 40-50minutes in the oven, check with the tip of a knife.</br>

                Let it cool a little bit, then film it and leave it to rest. If you can wait until the next day to eat it, it will be even better</br>
                If you try this recipe, don't hesitate to send us your reviews at : <a href="mailto:bananagirl@banana.banana">mail</a></p>

    </article>
    <article id="second-recipe">

    </article>
</body>