
    <article id="recipe">
        <h2>Banana bread</h2>
        <img src="{{image}}" alt="banana bread">
        <h3>Ingredients :</h3>
            {{#each ingredients}}
                <ul>
                <li>{{this}}</li>
                </ul>
                {{/each}}

                <hr>

                {{#each instructions}}
                    <p>{{this}}</p>
                {{/each}}

    </article>