*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

html{
        font-size: 16px;
}
/*******************LAYOUTS*************** */




/*******************HOME PAGE*************** */



/* ******************HOME PAGE*************** */
.about{
        width: 100vw;
        height: 100vh;
        background-color: rgb(230, 213, 230);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
}
.about > h1{
        font-size: 4rem;
        margin-bottom: 4rem;
}
.information{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-evenly;
}
.person-info{
        border: 1px solid black; 
        border-radius: 10px;  
        display: flex;
        flex-direction: row;
}
.person-info-image{
        
}
.person-info-details{
        font-size: 2rem;
}
.avatar{
        width: 20rem;
        height: 20rem;
        border-radius: 50%;

}
.logo{
        width: 20px;
        height: 20px;
}