* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
/*general classes */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

/*******************LAYOUTS*************** */

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(230, 213, 230);
  justify-content: space-between;
}

header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(199, 213, 243);
  color: whitesmoke;
  position: fixed;
  height: 10vh;
  width: 100vw;
  z-index: 1;
  padding: 0 15vw;
}

header h1 {
  font-size: 4rem;
  border-bottom: 4px double black;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

header a {
  font-size: 3rem;
  padding-left: 3rem;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

/*******************HOME PAGE*************** */

article {
  position: relative;
  top: 10vh;
  width: 55vw;
  padding: 2vh 2vw;
  margin: 3vh auto;
  background-color: whitesmoke;
  border: 1px grey solid;
  border-radius: 2vw;
  text-align: center;
}

h3,
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  font-size: 2.5rem;
  color: #E6D5E6;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

article img {
  border: 1px grey solid;
  width: 35vw;
  margin: 2vh;
}

article p {
  text-align: left;
}

article hr {
  margin: 2vh;
}

/* ******************ABOUT PAGE*************** */
.about {
  position: relative;
  top: 10vh;
  justify-content: center;
  align-items: center;
}

.heading-about {
  text-align: center;
  font-size: 4rem;
  margin: 2rem auto;
  background: linear-gradient(
    to right,
    #6666ff,
    #0099ff,
    #00ff00,
    #ff3399,
    #6666ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

.information {
  display: flex;
  justify-content: space-evenly;
}

.person-info {
  max-width: 350px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  margin-bottom: 2rem;

  border-radius: 20px;
  box-shadow: 0 2px 7px 4px gray;
  justify-content: center;
  align-items: center;

  transform: translate(0px, 0px) scale(1);
  transition: all 1s;
}
.person-info:last-child {
  margin-left: 5rem;
}

.person-info:hover {
  box-shadow: 0 2px 10px 4px rgb(196, 13, 165);
  transform: translate(2px, 8px) scale(1.1);
}

.person-info-details {
  font-size: 1rem;
  margin-right: 1rem;
}
.person-info-details p {
  padding: 0.5rem;
}

.avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin: 1rem;
}

.logo {
  width: 20px;
  height: 20px;
}

.slideshow {
  position: relative;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}

.slideshow-item {
  display: none;
}
.slideshow-item > img {
  max-width: 500px;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 2px 7px 2px gray;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* ******************FOOTER*************** */

footer {
  position: relative;
  top: 10vh;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* ******************RESPONSIVE*************** */

@media (max-width: 1000px) {
  .information {
    flex-direction: column;
  }
  .person-info {
    max-width: 500px;
  }
  .person-info:last-child {
    margin-left: 0rem;
  }
  p,
  ul,
  h3 {
    font-size: 1.7rem;
  }
}

@media (max-width: 768px) {
  header h1,
  header a {
    font-size: 4.5rem;
  }

  article {
    padding: 2vh 2vw;
    margin: 1vh 5vw;
  }

  article img {
    border: 1px grey solid;
    width: 55vw;
    margin: 1vh;
  }

  h2 {
    font-size: 2.8rem;
  }

  p,
  ul,
  h3 {
    font-size: 1.7rem;
  }
}
@media (max-width: 700px) {
  html{
    font-size: 10px;
  }

@media (max-width: 375px) {

  header {
    flex-direction: column;
  }
  header h1,
  header a {
    text-align: center;
    font-size: 4rem;
    padding: 0;
  }

  header a {
    padding: 0 2vw 0 2vw;
  }

  article {
    padding: 1vh 1vw;
    margin: 1vh auto;
    width: auto;
  }
  body {
    margin: auto;
  }
  .person-info {
    max-width: 300px;
    max-height: 300px;
  }
}
