* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
/* clean code after */
/* .flex-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.flex-row {} */

/*******************LAYOUTS*************** */

body {
  width: 80vw;
  height: 100vh;
  margin: auto;
  background-color: rgb(230, 213, 230);
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}

header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 4rem;
  text-decoration: underline;
}

header a {
  font-size: 3rem;
  padding-left: 3rem;
}

/*******************HOME PAGE*************** */

article {
  padding: 2vh 2vw;
  margin: 3vh 15vw;
  background-color: whitesmoke;
  border: 1px grey solid;
  border-radius: 2vw;
  text-align: center;
}

h3,
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  font-size: 2rem;
}

article img {
  border: 1px grey solid;
  width: 35vw;
  margin: 2vh;
}

article p {
  text-align: left;
}

article hr {
  margin: 2vh;
}

/* ******************HOME PAGE*************** */
.about {
  justify-content: center;
  align-items: center;
}

.heading-about {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 4rem;
  background: linear-gradient(
    to right,
    #6666ff,
    #0099ff,
    #00ff00,
    #ff3399,
    #6666ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

.information {
  display: flex;
  justify-content: space-evenly;
}

.person-info {
  border-radius: 20px;
  box-shadow: 0 2px 7px 4px gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  transform: translate(0px, 0px) scale(1);
  transition: all 1s;
}

.person-info:hover {
  box-shadow: 0 2px 10px 4px rgb(196, 13, 165);
  transform: translate(2px, 10px) scale(1.1);
}

.person-info-details {
  font-size: 2rem;
  margin-right: 3rem;
}

.avatar {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin: 4rem;
}

.logo {
  width: 20px;
  height: 20px;
}

@media (max-width: 1400px) {
  html {
    font-size: 10px;
  }
  .information {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  header h1,
  header a {
    font-size: 4.5rem;
  }

  article {
    padding: 2vh 2vw;
    margin: 1vh 5vw;
  }

  article img {
    border: 1px grey solid;
    width: 55vw;
    margin: 1vh;
  }

  h2 {
    font-size: 2.8rem;
  }

  p,
  ul,
  h3 {
    font-size: 1.7rem;
  }
}

@media (max-width: 375px) {
  header {
    flex-direction: column;
  }
  header h1,
  header a {
    text-align: center;
    font-size: 4rem;
    padding: 0;
  }

  header a {
    padding: 0 2vw 0 2vw;
  }

  article {
    padding: 1vh 1vw;
    margin: 1vh auto;
    width: auto;
  }
  body {
    margin: auto;
  }
}
