* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
/* clean code after */
/* .flex-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.flex-row {} */

/*******************LAYOUTS*************** */

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(230, 213, 230);
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}

header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 4rem;
  text-decoration: underline;
}

header a {
  font-size: 3rem;
  padding-left: 5vw;
}

/*******************HOME PAGE*************** */

#recipe {
  padding: 2vh 2vw;
  margin: 3vh 15vw;
  background-color: whitesmoke;
  border: 1px grey solid;
  border-radius: 2vw;
  text-align: center;
}

#recipe img {
  border: 1px grey solid;
  width: 35vw;
}

/* ******************HOME PAGE*************** */
.about {
  justify-content: center;
  align-items: center;
}
.about > h1 {
  font-size: 4rem;
  margin-bottom: 4rem;
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

.information {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
}

.person-info {
  border-radius: 20px;
  box-shadow: 0 2px 7px 4px gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  transform: translate(0px, 0px) scale(1);
  transition: all 2s;
}
.person-info:hover {
  box-shadow: 0 2px 10px 4px rgb(196, 13, 165);
  transform: translate(2px, 10px) scale(1.1);
}

.person-info-details {
  font-size: 2rem;
  margin-right: 3rem;
}

.avatar {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin-left: 3rem;
  margin-right: 3rem;
}

.logo {
  width: 20px;
  height: 20px;
}

@media (max-width: 1400px) {
  .information {
    flex-direction: column;
  }
}
